.MemoryCardBack {

    display: inline-block;
    width: 150px;
    height: 80px;
    margin: 3px;
    border-radius:5px ;
    border: solid 3px navy;
    cursor:pointer;
    background: repeating-linear-gradient(
  30deg,
  #bc9a60,
  #d8511c 10px,
  #469867 10px,
  #939846 20px
);
}

img {

    width:100%;
    padding-top: 13px;
}